NAME=open_fermentations
PORT=8080
APP_ENV=local
LOG_LEVEL=debug

DB_HOST=psql
DB_PORT=5432
DB_DATABASE=open_fermentations
DB_USERNAME=ferment
DB_PASSWORD=password1234
DB_SCHEMA=public
DB_CONNECTION_STRING=postgres://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_DATABASE}?sslmode=disable

PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_DEFAULT_EMAIL=admin@fermentation.com
PGADMIN_PORT=5444

MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_WS_PORT=9001
MQTT_USER=platform
MQTT_PASSWORD=password
MQTT_CLIENT_ID=open-fermentations-server